@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
	padding: 0;
	margin: 0;
	outline: none;
}

body {
	background-color: #fff;
	color: #000;
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
}

.container {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}

.logo {
	width: 178px;
	height: 24px;
}

h2 {
	font-size: 24px;
	font-weight: 400;
	text-transform: uppercase;
}

a {
	color: #000;
	text-decoration: none;
}

i {
	font-size: 24px;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

header ul {
	list-style: none;
	display: flex;
	gap: 64px;
}

.social {
	display: flex;
	gap: 8px;
}

.jumbotron {
	height: 740px;
	background-image: url('../img/001.jpg');
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.margin-40 {
	margin-top: 40px;
}

.margin-80 {
	margin-top: 80px;
}

.institucional {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

.institucional div {
	width: 50%;
}

.institucional p {
	margin-top: 16px;
}

footer {
	text-align: center;
}
